<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title>Test App</title>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    <%= stylesheet_link_tag "formtastic" %>
    <%= stylesheet_link_tag "formtastic_changes" %>
    <%= stylesheet_link_tag 'screen', :media => 'all', :cache => true %>
  </head>
  <body class="<%= body_class %>" >
    <div id='header'>
      <h1>Test App</h1>
      <div id='session_links'>
        <% if current_user %>
        <div class='welcome'>
          Hello,
          <%= link_to current_user, current_user %>
        </div>
        <div class='logout'>
          <%= link_to "Logout", user_session_url, :method => :delete %>
        </div>
        <% end %>
      </div>
    </div>
    <div id='content'>
      <%= render :partial => 'layouts/flashes' %>
      <%= yield %>
    </div>
    <div id='footer'>
    </div>
    <%= render :partial => 'layouts/javascript' %>
  </body>
</html>
